.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.not-found-container img {
    width: 50%;
    height: 50%;
}