.img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 5%;
}

.Country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 5%;
    background-color: #f5f5f5;
    color: black;
}

.Elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
}

.Elements p {
    margin-left: 5%;
}

.custom-btn {
    width: 100%;
}